html {
  font-size: 10px;
  font-family: 'Chewy', cursive;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(https://picjumbo.imgix.net/HNCK8905.jpg?q=40&w=1650&sharp=30) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.keys {
  display: inline-block;
  position: relative;
}

.key {
  transition: all 0.2s ease;
}

.white-key {
  height: 160px;
  border: 1px solid $c-black;
  background-color: $c-white;
  z-index: 1;
}

.black-key {
  height: 90px;
  margin-right: -30px;
  margin-left: -30px;
  border: 1px solid $c-white;
  border-top: 1px solid $c-black;
  background-color: $c-black;
  z-index: 2;
}

.black-key, .white-key {
  display: inline-block;
  position: relative;
  width: 60px;
  vertical-align: top;
  box-sizing: border-box;
}

.white {
  display: flex;
  justify-content: center;
  transform: translateY(100px);
}

.black {
  display: flex;
  justify-content: center;
  transform: translateY(40px);
  color: $c-white;
}

.playing {
  transform: scale(1.1);
  border-color: $c-hotpink;
  box-shadow: 0 0 1rem $c-hotpink;
}

kbd {
  display: block;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 4rem;
}

.sound {
  color: $c-hotpink;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
